SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SERVER_PORT=

JWT_SECRET=
JWT_EXPIRATION=

FILE_UPLOAD_DIR=

LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=